.expo-img img {
  max-height: 80vh;
  margin-top: 20px;
  margin-bottom: 20px;
}

.expo-img {

}

.container-expo{
  background-image: url(../images/Tableaux_HD/Tableau-Gitan_Elisabeth-Guillemain.png);
  background-size: cover;
}
