<div class="wrapper-contact">
    <div class="container-contact text-center">
      <h1>ELISABETH GUILLEMAIN</h1>
      <h5>Artiste</h5>
      <p>Formée à l'Atelier Conta</p>
      <div class="txt">
        <p>Médecin à Caen et passionnée de peinture, je m’exprime depuis une quinzaine d’années par l’acrylique sur toile. En perpétuelle recherche de nouveaux thèmes, refusant de m’installer dans un style, mon fil conducteur « la couleur » se traduit par des toiles gaies, vives et animées. <br> <br>
        J’aime les fauves et les impressionnistes, les roses de Gauguin et les bleus de Matisse, les jardins d’Hockney et les motifs de Dufy. Je remercie pour ma première exposition de peinture à Caen
        Sophie Paul-Opderbeck, François Alix, Maxime Guillemain pour sa contribution au site, Sarah Guillemain pour ses productions graphiques, Jean-Francois Conta qui m’a guidée par ses conseils.</p>
      </div>
      <div class="infos">
        <h4>
          <i class="fa fa-phone" aria-hidden="true"></i> 06 62 78 48 48
        </h4>
        <h4>
          <a href="mailto:babetteguillemain@orange.fr?Subject=Hello%20Elisabeth" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i> babetteguillemain@orange.fr
          </a>
        </h4>
        <h4>
          <a href="https://www.instagram.com/babetteguillemain/?hl=fr" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> babetteguillemain
          </a>
        </h4>
      </div>
      <div class="contact-btn">
        <a class="btn btn-primary" href="mailto:babetteguillemain@orange.fr?Subject=Hello%20Elisabeth" target="_top" role="button">Contactez-moi</a>
      </div>
    </div>
</div>
