<div class="wrapper-contact">
    <div class="container-contact text-center">
      <h1>ELISABETH GUILLEMAIN</h1>
      <h5>Artiste</h5>
      <p>Formée à l'Atelier de Jean-François Conta</p>
      <div class="infos">
        <h4>
          <i class="fa fa-phone" aria-hidden="true"></i> 06 62 78 48 48
        </h4>
        <h4>
          <a href="mailto:babetteguillemain@orange.fr?Subject=Hello%20Elisabeth" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i> babetteguillemain@orange.fr
          </a>
        </h4>
        <h4>
          <a href="https://www.instagram.com/babetteguillemain/?hl=fr" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i> babetteguillemain
          </a>
        </h4>
      </div>
      <div class="contact-btn">
        <a class="btn btn-primary" href="mailto:babetteguillemain@orange.fr?Subject=Hello%20Elisabeth" target="_top" role="button">Contactez-moi</a>
      </div>
    </div>
</div>
